* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
    height: 100%;
}


/*Titles*/

.title-text {
    font-size: 40px;
    text-align: center;
}


/*Navigation bar*/

nav {
    background: orange;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-twitter:hover {
    color: rgb(86, 154, 243);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

.fa-github:hover {
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: orange;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: red;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}


/*End of Navigation bar*/


/* FAQ*/

.h2-class {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: rgb(226, 114, 8);
}

h1 {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    color: rgb(226, 114, 8);
}

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
}

.accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media(max-width:767px) {
    html {
        font-size: 14px;
    }
}

.btn {
    font-size: 1rem;
    padding: .5rem 2rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background: none;
    color: #333;
    cursor: pointer;
    border: .2rem solid rgb(235, 128, 29);
}

.btn:hover {
    background: rgb(235, 128, 29);
}

.ask {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 70%;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
}

.ask .row {
    display: flex;
    background: #fff;
    margin: 2rem 0;
    overflow: hidden;
    border-radius: 1rem;
}

.ask .row form {
    flex: 1 1 60%;
    background: #fff;
    padding: 2rem;
}

.ask .row form .box {
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    text-transform: none;
    background: #eb7515;
    width: 95%;
}

.ask .row form .box::placeholder {
    text-transform: capitalize;
}

.ask .row form .address {
    resize: none;
    height: 10rem;
    font-size: 1rem;
}


/*FAQ*/


/*Footer*/

.footer {
    height: 5%;
    Width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}


/*Making it responsive*/

@media(max-width:1000px) {
    * {
        box-sizing: border-box;
    }
}

@media(max-width:750px) {
    section {
        background-image: none;
        background-color: #f7f7f7;
    }
}