* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
    height: 100%;
    background: #f6f5f5;
}


/*Titles*/

.title-text {
    font-size: 40px;
    text-align: center;
    color: white;
}


/*Navigation bar*/

nav {
    background: orange;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-twitter:hover {
    color: rgb(86, 154, 243);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

.fa-github:hover {
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: orange;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: red;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}


/*End of Navigation bar*/


/*Cards*/

.food-container {
    max-width: 90vw;
    margin: 0 auto;
}

.food-card {
    position: relative;
    background: linear-gradient(rgba(205, 96, 0, 0.7), rgba(205, 96, 0, 0.7));
    margin: 20px 0;
    color: black;
    overflow: hidden;
    padding: 3px;
    border-radius: 16px;
    border: 1px solid orange;
    box-shadow: 2px 3px 1px 1px #cd6100;
}

#food img {
    width: 100%;
    min-height: 100%;
    display: block;
    transition: transform 4s;
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    transition: opacity 4s;
}

.img-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 20px;
    opacity: 0;
    color: black;
    transition: opacity 4s;
}

.img-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.food-card:hover img {
    opacity: 0.4;
    transform: scale(1.3);
}

.food-card:hover .img-text,
.food-card:hover .img-footer {
    opacity: 1;
}

.food-button {
    display: inline-block;
    background: black;
    text-decoration: none;
    text-transform: capitalize;
    padding: 12px 32px;
    color: white;
    font-weight: bold;
    border-radius: 180px;
    cursor: pointer;
    margin-top: 16px;
    transition: all 0.3s, ease-in-out;
    font-size: 18px;
    outline: none;
}

.food-button:hover {
    color: orange;
    background: white;
    border: black;
    outline: none;
}

.fas {
    font-size: 30px;
}

@media screen and (min-width:576px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
    }
}

@media screen and (min-width:992px) {
    .food-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 16px;
    }
}


/*End of Cards*/


/*Footer*/

.footer {
    height: 5%;
    Width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}