@import url(https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;600&display=swap);

*{
    font-family:  'Baloo Chettan 2', cursive;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition:all .2s linear;
}

h1, h3{
    font-family: 'Baloo Chettan 2', cursive;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background-image: url(images/170027400_486360609168797_768503438886779207_n.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
    overflow-x: hidden;
    /* height:200rem; */
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:var(--yellow);
}

container{
    border-radius: 5rem;
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    font-family: 'Baloo Chettan 2', cursive;
  
}

.box-container{
    border-radius: 5rem;
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    font-family: 'Baloo Chettan 2', cursive;
}


/*Titles*/

.title-text {
    font-size: 40px;
    text-align: center;
}


/*Navigation bar*/

nav {
    background: orange;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-twitter:hover {
    color: rgb(86, 154, 243);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

.fa-github:hover {
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: orange;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: red;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}


/*End of Navigation bar*/


h2{
   
    font-size: 15px;
    color: rgb(255, 255, 255);
}


.heading {
    margin-top: 25px;;
    text-align: center;
    font-size: 4rem;
    padding: 0 .5rem;
    color: rgb(255, 255, 255);
}
.heading span{
    color:var(--yellow);
}

.btn{
    font-size: 1.7rem;
    padding:.7rem 4rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:rgb(235, 229, 229);
    cursor: pointer;
    border:.2rem solid rgb(102, 44, 10);
}
.btn1{
    margin-left: 250px;
    font-size: 1.2rem;
    padding:.5rem 2rem;
    border-radius: 5rem;
    margin-top: 1rem;
    background:none;
    color:rgb(235, 229, 229);
    cursor: pointer;
    border:.2rem solid rgb(102, 44, 10);
    

}
.btn1:hover{
    background: rgb(102, 44, 10);
}

.btn:hover{
    background: rgb(102, 44, 10);
}


/* End of Ingredients and Prepare*/







/*Review Section*/

.order{
    border-radius: 5rem;
    background: orange;
    background-size: cover;
    background-position: center;

}

.order .row{
    display: flex;
    margin:2rem 0;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    border-radius: 1rem;
}


.order .row form{
    flex:1 1 60%;
    padding:5rem;
}

.order .row form .box{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.5rem;
    color:#333;
    text-transform: none;
    background:#f0f0f0;
    width:100%;
    border-radius: 3rem;
}

.order .row form .box::placeholder{
    text-transform: capitalize;
}

.order .row form .address{
    resize: none;
    height:15rem;
}
.upload .submit{
    
    font-size: 4px;
}


.upload{
    font-family: 'Baloo Chettan 2', cursive
    font-size: 7px;;
}

.ingred{
    background-color: #fff;
    padding: 24px 16px;
    margin: 0 -16px;
    border-radius: 0;
    display:flex;
    flex-direction: column;
   
}
.input{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
    border-radius: 3rem;
   
}
.select_list{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
    border-radius: 3rem;
}
.add-ingredient{
     display: flex;
     flex-direction: column;
}


.label-wrapper{
   
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.picker_unit{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
    border-radius: 3rem;
}
.add-ingredient{
    padding: 1rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    color: #333;
    text-transform: none;
    background: #f0f0f0;
    width: 100%;
    border-radius: 3rem;
}



/*End of review section*/


/*Footer*/

.footer {
    background: black;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-top: 20px;
}

