* {
    margin: 0;
    /*we don't want browser's margin*/
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    line-height: 1.5;
}


/*Titles*/

.title-text {
    font-size: 40px;
    text-align: center;
}


/*Navigation bar*/

nav {
    background: orange;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.fa-facebook:hover {
    color: rgb(0, 110, 255);
}

.fa-twitter:hover {
    color: rgb(86, 154, 243);
}

.fa-instagram:hover {
    color: rgb(255, 0, 191);
}

.fa-github:hover {
    color: rgb(255, 123, 0);
}

nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.filter-options-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.filter-options-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.filter-options-content a:hover {
    background-color: orange
}

.show {
    display: block;
}

@media(max-width: 800px) {
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: orange;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav .openMenu {
        display: block;
        float: left;
        overflow: hidden;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: red;
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
    .openMenu .filter-options-content {
        font-size: 70%;
        display: none;
        right: 0;
        position: absolute;
        background-color: orange;
        min-width: 160px;
        box-shadow: none;
        z-index: 1;
    }
    .openMenu .filter-options-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .openMenu .filter-options-content a:hover {
        background-color: orange
    }
    .openMenu .show {
        display: block;
    }
}


/*End of Navigation Bar */


/*Main*/

main {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('images/bg.jpeg') center/cover no-repeat fixed;
}

#menu-history {
    width: 70%;
    margin-left: 15%;
    border-bottom: rgb(248, 192, 87) 2px solid;
    height: 30%;
}

.filter-history {
    float: right;
    display: inline;
    margin-top: 20px;
}

#history-list {
    width: 70%;
    margin-left: 15%;
    padding-top: 1%;
    padding-left: 10%;
    padding-bottom: 1%;
}

#history-title {
    display: inline;
    font-size: 200%;
    color: white;
}

.history-box {
    background-color: rgb(255, 223, 164);
    border-radius: 15px;
    width: 80%;
    padding: 1%;
    margin-bottom: 3px;
}

.history-time {
    display: inline-block;
    width: 15%;
}

.history-text {
    display: inline-block;
    width: 69%;
}

.history-text a {
    text-decoration: none;
    color: black;
}


/*End of Main*/


/*Footer*/

.footer {
    position: relative;
    height: 5%;
    Width: 100%;
    bottom: 0;
    background: black;
    text-align: center;
}

.footer .text {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
}


/*End of Footer*/